:root{
    display: inline-flex;
    justify-content: center;
    font-family: sans-serif;
}

.page_wrap{
    display: inline-flex;
    justify-content: center;
    height: 900px;
    width: 1440px;
    background: hsl(217, 100%, 97%);
    margin-top: 2rem;
    position: relative;
}

@media only screen and (max-width: 960px){
    :root{
        height:800px ;
    }

    .page_wrap{
        width: 375px;
        height: 640px;
    }
}

.page_container{
    width: 950px;
    height: 600px;
    display: inline-flex;
    justify-content: center;
    background: white;
    border-radius: 20px;
    margin-top: 9rem;
    position: relative;
    
}

.list{
    background-image: url(bg-sidebar-desktop.svg);
    height: 568px;
    width: 274px;
    position: absolute;
    left: 1rem;
    top: 15px;
}

@media only screen and (max-width: 960px){
    .page_container{
        width: 350px;
        height:300px;
        border-radius: 10px;
    }

    .list{
        background-image: url(bg-sidebar-mobile.svg);
        height: 172.4px;
        width: 375px;
        position: absolute;
        top: -11.4rem;
        left: -0.8rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: -20rem;
    }

    .p1{
        display: none;
    }

    .p2{display: none;}
}

h1{
    margin-bottom: -5px;
    color: rgb(35, 35, 90);
    margin-top: 4rem;
    margin-left: 17rem ;
}

.personal_p{
    margin-left: 17.1rem;
    text-align: center;
    color: rgb(163, 162, 162);
    font-weight: 300;
}

form{
    margin-left: 17rem;
    margin-top: 2rem;
    background-color: white;
    border-radius: 10px;
    
}

.input_tag{
    position: relative;
    margin-bottom: -13px;
}

.input_p{
    position: absolute;
    right: 8.5rem;
    text-align: right;
    margin-bottom: 2px;
    color: red;
    margin-top: -20px;
    display: none;
}

.info_name{
    border-style: solid;
    width: 26.5rem;
    height: 2.5rem;
    border-radius: 7px;
    margin-bottom: 1.5rem;
}

.info_email{
    border-style: solid;
    width: 26.5rem;
    height: 2.5rem;
    border-radius: 7px;
    margin-bottom: 1.5rem;
}

.info_phone{
    border-style: solid;
    width: 26.5rem;
    height: 2.5rem;
    border-radius: 7px;
    margin-bottom: 1.5rem;
}

@media only screen and (max-width: 960px){
    .info_field{
        width: 350px;
        position:absolute;
    }

    h1{
        position: absolute;
        left: -15.7rem;
        top: -7.8rem;
        z-index: 1;
    }

    .personal_p{
        position: absolute;
        left: -15.7rem;
        top: -40px;
        text-align: left;
        padding-right: 2rem;
        letter-spacing: 1px;
        line-height: 1.5rem;
        z-index: 1;
    }

    .toputs{
        position: absolute;
        top: 15rem;
        left: 1.2rem;
        width: 19rem;
        border-radius: 5px;
        
    }

    .info_name{
        position: absolute;
        top: 10rem;
    }

    .info_email{
        position: absolute;
        top: 14.8rem;
    }

    .info_phone{
        position: absolute;
        top: 19.5rem;
    }

    form{
        margin-top: 9rem;
        width: 350px;
        height:300px;
        border-radius: 10px;
        background-color: white;
        position: absolute;
        left: -17rem;
        top: -14.4rem;
    }

    .input_tag{
        font-size: 12px;
        position: absolute;
        margin-top: 10rem;
        color: hsl(225, 46%, 28%)
    }

    .nayme{
        position: absolute;
        top: -.8rem;
        left: 20px;
    }

    .emale{
        position: absolute;
        top: 4rem;
        left: 20px;
    }

    .fone{
        position: absolute;
        top: 8.7rem;
        left: 20px;
    }

    .input_p{
        position: absolute;
        margin-top: 8rem;
        font-size: 12px;
    }

    .valid_name{
        position: absolute;
        right: 1.3rem;
    }

    .valid_email{
        position: absolute;
        right:1.3rem ;
        top: 5.9rem;
    }

    .valid_phone{
        position: absolute;
        right: 1.3rem;
        top: 10.7rem;
    }

    #personal_next{
        position: absolute;
        right: -4px;
        top: 32rem;
        border-radius: 5px;

    }
}

.next_btn{
    position: absolute;
    right: 7.5rem;
    top: 32rem;
    width: 7.8rem;
    height: 3rem;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: rgb(3, 3, 71);
    font-size: 17px;
}

@media only screen and (max-width: 960px) {
    .next_btn{
        position: absolute;
        top: 36rem;
        right: 1px;
    }
}
    

.next_btn:hover{
    cursor: pointer;
    color: black;
    background-color: rgb(223, 153, 24);
}

/* **************************************************plans page*********************************** */

.plans_section{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    margin-left: 17.5rem;
    margin-top: 2.5rem;
}

@media only screen and (max-width: 960px){
    .plans_section{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 1rem;
        background-color: white;
        width: 350px;
        height:550px;
        position: absolute;
        left: -17.5rem;
        top: -7.6rem;
        border-radius: 10px;
    }
}

.plan{
    height: 155px;
    width: 130px;
    border-radius: 7px;
    border: 0.1px solid;
    border-color: rgb(221, 221, 221);
}

.plan:hover{
    border-color: rgb(21, 0, 255) !important;
    background-color: rgb(241, 244, 248) !important;
}

.plan_tops{
    margin-top: 4rem;
    margin-left: 2.7rem;
}


h2{
    margin-left:1.5rem ;
    text-align: center;
    font-size: 2rem;
    color: rgb(9, 9, 63);
}

.page_p{
    text-align: center;
    margin-left: 7.5rem;
    margin-top: -20px;
    color: rgb(175, 175, 175);
}

section{
    margin-top: 2rem;
}

.plans_logo{
    margin-left:1rem ;
    margin-top: 1.2rem;
    margin-bottom: 0;
}

.plan_p{
    margin-left: 1rem;
    margin-bottom:-10px;
    color: hsl(243, 66%, 20%)
}

.plan_p2{
    margin-left: 1rem;
    color: rgb(185, 184, 184);
}

@media only screen and (max-width: 960px){
    .plan{
        height: 75px;
        width: 300px;
        position: absolute;
        left: -4.7rem;
        top: 10rem;
        left: 1.5rem;
    }

    .type_price{
        position: relative;
        top: -4.9rem;
        left: 4rem;
    }

    .advance{
        position: absolute;
        top: 16rem;
    }

    .pro{
        position: absolute;
        top: 22rem;
    }
}

.toggle{
    display: flex;
    justify-content: center;
    font-size: 15px;
    width: 27rem;
    height: 2.5rem;
    background: rgb(244, 244, 244);
    margin-left:17.5rem;
    margin-top: 2rem;
    border-radius: 5px;
}

@media only screen and (max-width: 960px) {
    .toggle{
        position: relative;
        left: -8.8rem;
        top: 16rem;
        width: 303px;
        height: 4rem;
        border-radius: 10px;
    }

    .plans_h2{
        position: absolute;
        z-index: 2;
        top: -4rem;
        left: -2px;
    }

    .page_p{
        position: absolute;
        left: -6.8rem;
        top: 1.5rem;
        text-align: left;
        padding-right: 2rem;
        letter-spacing: 1px;
        line-height: 1.5rem;
        z-index: 1;
        padding-left: 0.8rem;
    }
}
   
.monthly{
    position: relative;
    left: -2rem;
    top:12px ;
    color: rgb(37, 35, 100);
    font-size: 1rem;
}

.yearly{
    position: relative;
    right: -3.3rem;
    top: 12px;
    font-size: 1rem;
    color: rgb(193, 191, 191);
}
   
.switch {
    position: relative;
    left: -3.5rem;
    top: 8px;
    width: 47px;
    height: 23px;
}

@media only screen and (max-width: 960px) {
    .switch{
        position: relative;
        top: 20px;
    }

    .monthly{
        position: relative;
        top: 24px;
    }

    .yearly{
        position: relative;
        top: 24px;
    }
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(8, 8, 75);
    -webkit-transition: .4s;
    transition: .4s;

}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(250, 250, 250);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-image: blue;
}


input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider{
    border-radius: 34px;
}

.slider:before {
    border-radius: 50%;
}

.plans_error{
    display: none;
    position: relative;
    color: red;
    left: 24rem;
    top: 10px;
}

@media only screen and (max-width: 960px) {
    .plans_error{
        position: relative;
        top: 11rem;
        left: 10rem;
    }

    #plans_back{
        position: absolute;
        left: -2px;
        top: 32.8rem;
    }

    #plans_next{
        position: absolute;
        top: 32rem;
        border-radius: 5px;
    }
}

.back_btn{
    position: absolute;
    top: 32.7rem;
    left: 24.8rem;
    border: none;
    background: none;
    font-size: 1.07rem;
    color: hsl(230, 6%, 63%);
    font-weight: light;
}

.back_btn:hover{
    color: rgb(224, 75, 224);
    cursor: pointer;
}

.free_months{
    position:absolute;
    color: rgb(25, 25, 79);
    font-size: 12px;
    margin-left: 1rem;
    margin-top: -7px;
    display: none;
}

.freeby{
    position:absolute;
    color: rgb(25, 25, 79);
    font-size: 12px;
    margin-left: 1rem;
    margin-top: -7px;
    display: none;
}

.freet{
    position:absolute;
    color: rgb(25, 25, 79);
    font-size: 12px;
    margin-left: 1rem;
    margin-top: -7px;
    display: none;
}
@media only screen and (max-width: 960px) {
    .free_months{
        margin-top: -12px;
    }

    .freeby{
        margin-top: -12px;
    }

    .freet{
        margin-top: -12px;
    }
}


/* ********************************************** add-ons section *************************** */

.addons_section{
    margin-top: 2rem;
}

.addons_cont{
    border: 0.5px solid;
    border-color: rgb(213, 213, 213);
    width: 26.7rem;
    height: 4.7rem;
    border-radius: 10px;
    margin-left: 17.3rem;
    margin-top: 1rem;
}

@media only screen and (max-width: 960px){
    .addons_section{
        width: 350px;
        height:300px;
        border-radius: 10px;
        background-color: white;
        position:absolute;
        left: 0rem;
        top: -7rem;
    }

    .addons_cont{
        position: absolute;
        left: -16.4rem;
        width: 20rem;
        height: 4.4rem;
        top: 8.5rem;
    }

    .service{
        position: relative;
    }

    .storage{
        position: relative;
    }

    .profile{
        position: relative;
    }

    .addons_page{
        height: 360px;
    }
}

.addons_cont:hover{
    background-color: rgb(236, 236, 243) !important;
    cursor: pointer !important;
    border-color: rgb(114, 62, 235) !important;
}

.addons_top{
    margin-top: 4rem;
    margin-left: 1.2rem;
}

#kpi{
    margin-left: 10rem;
    margin-top: -15px;
}

.addons_h2{
    color: rgb(19, 19, 111);
}

.service_check{
    position:relative;
    top: 1.5rem;
    left: 1rem;
}

.storage_check{
    position:relative;
    top: 1.5rem;
    left: 1rem;
}

.profile_check{
    position:relative;
    top: 1.5rem;
    left: 1rem;
}

@media only screen and (max-width: 960px) {
    .service_check{
        position: relative;
        left: 10px;
    }

    .storage_check{
        position: relative;
        left: 10px;
    }

    .profile_check{
        position: relative;
        left: 10px;
    }
}

.addon_service{
    position: relative;
    top: -1.1rem;
    left: 4rem;
    margin-top: 1.1rem;
    color: rgb(39, 39, 104);
}

.service_note{
    position: relative;
    top:-2rem ;
    left:4rem ;
    color: rgb(191, 191, 191);
}

.addon_price{
    position: relative;
    color: rgb(103, 73, 168);
    right: -22rem;
    top: -6.1rem;
    margin-top: 2.3rem;
}

@media only screen and (max-width: 960px) {
    .addon_service{
        position: relative;
        left: 2.6rem;
    }

    .service_note{
        position: relative;
        left: 2.6rem;
    }

    .addon_price{
        position: relative;
        left: 16.5rem;
    }

    .addons_h2{
        position: relative;
        left: -5rem;
        top: -1.5rem;
        z-index: 2;
        top: -7rem;
    }

    .page_p{
        position: absolute;
        left:-10rem;
        top: .5rem;
        padding-left: 1rem;
    }

    #addons_back{
        position: absolute;
        left: 3px;
        top: 37.9rem;
    }

    #addons_next{
        position: absolute;
        top: 37rem;
        border-radius: 5px;
    }

    .head_p{
        position: relative;
        left: -2.5rem;
        top: -2.7rem;
        padding-right: 6rem;
    }
}

/* ******************************** sidebar section on each page ************************* */

.steps_sections{
    position:relative;
    margin-bottom: -100px;
    
}

.page_number{
    text-align: center;
    display: inline-block;
    font-size: 15px;
    border:0.5px solid;
    border-radius:100%;
    line-height: 25px;
    border-color: white;
    color: white;
    margin-left: 2rem;
    width: 30px;
    height: 30px;
    margin-top: 0.8rem;
    padding-top: 5px;
}

.p1{
    position: relative;
    top: -2.8rem;
    left: 4.7rem;
    color: rgb(144, 144, 144);
    font-size: 15px;
    font-weight: lighter;
}

.p2{
    font-size: 15px;
    position: relative;
    top: -5.7rem;
    left: 4.7rem;
    color: white;
    font-weight: 400;
}

@media only screen and (max-width: 960px){
    .planos{
        position: relative;
        top: -1rem;
        left: 1rem;
    }

    .adios{
        position: relative;
        top: -1rem;
        right: 1.9rem;
    }

    .sumos{
        position: relative;
        top: -1rem;
        right: 4.9rem;
    }

    .infos{
        position: relative;
        top: -1rem;
        left: 4rem;
    }
}

/******************************** summary page *****************************/

.summary_container{
    display: block;
    justify-content: center;
}

@media only screen and (max-width: 960px) {
    .summary_container{
        width: 350px;
        height:420px;
        border-radius: 10px;
        background-color: white;
        position:absolute;
        left: 0rem;
        top: -5rem;
    }
}


.summary_page{
    display: flex;
    width: 28rem;
    height:200px;
    background-color: hsl(231, 54%, 97%);
    position: absolute;
    left: 24rem;
    top: 10.6rem;
    border-radius: 7px;
}

@media only screen and (max-width:960px){
    .summary_page{
        position: absolute;
        left: .9rem;
        top: 9.5rem;
        width: 320px;
        height: 185px;
    }
}

.change_btn{
    position: absolute;
    margin-top: 3.3rem;
    margin-left: 26px;
    background: none;
    border-top: 0;
    border-left:0;
    border-right: 0;
    border-bottom: 2.8px;
    border-style: solid;
    font-size: 1rem;
    color: rgb(150, 150, 150);;
    border-width: auto;
    padding-left: .3px;
    padding-right: 1px;
    padding-bottom: .04px;
    font-weight: lighter;
}

.change_btn:hover{
    cursor: pointer;
    color: rgb(162, 92, 227);
}

#summary_header{
    position: absolute;
    left: 22.6rem;
    top: 2rem;
}

#summary_p{
    position: absolute;
    left: 16.66rem;
    top: 7.8rem;
}

.chosen_plan{
    position: absolute;
    margin-left: 27px;
    margin-top: 2rem;
    font-family: 'ubuntu';
    color: rgb(5, 5, 65);
    font-weight: 500;
}

.chosen_price{
    position: absolute;
    right: 1.5rem;
    margin-top: 3.3rem;
    color: rgb(37, 37, 111);
    font-weight: bold;
}

.borderland{
    width: 24.7rem;
    height: 1px;
    background-color: rgb(180, 181, 181);
    position: absolute;
    top: 6.5rem;
    left: 26px;
}

@media only screen and (max-width:960px) {
    .chosen_plan{
        position: absolute;
        top: -.9rem;
        left: -9px;
    }

    .change_btn{
        position: absolute;
        top: -1rem;
        left: -9px;
    }

    .chosen_price{
        position: absolute;
        top: -1.3rem;

    }

    .borderland{
        width: 280px;
        position: absolute;
        top: 5rem;
        left: 17px;
    }
}

.pot1{
    position:absolute;
    top: 6.4rem;
    left: 26px;
    bottom: 20px;
    color: hsl(231, 11%, 63%);
    font-weight: lighter;
}
.cost1{
    position: absolute;
    right: 1.6rem;
    top: 6.4rem;
    font-weight: lighter;
    color: rgb(37, 37, 111);
}

.pot2{
    position: absolute;
    top:8.3rem;
    left: 25px;
    color: rgb(162, 162, 162);
    font-weight: lighter;
}

.cost2{
    position: absolute;
    top: 8.3rem;
    right: 1.6rem;
    font-weight: lighter;
    color: rgb(37, 37, 111);
}

.pot3{
    position: absolute;
    top:10.3rem ;
    left: 26px;
    color: rgb(162, 162, 162);
    font-weight: lighter;
}

.cost3{
    position: absolute;
    top: 10.3rem;
    right: 1.6rem;
    font-weight: lighter;
    color: rgb(37, 37, 111);
}

@media only screen and (max-width:960px){
    .pot1{
        position: absolute;
        top: 5rem;
        left: 15px;
    }

    .cost1{
        position: absolute;
        top: 5rem;
    }

    .pot2{
        position: absolute;
        top: 6.9rem;
        left: 15px;
    }

    .cost2{
        position: absolute;
        top: 6.9rem;
    }

    .pot3{
        position: absolute;
        top: 8.7rem;
        left: 15px;
    }

    .cost3{
        top: 8.7rem;
    }
}

.total_sum{
    position:absolute;
    top: 23.8rem;
    left: 25.6rem;
}

.total_amount{
    position: absolute;
    right: -17.85rem;
    top: 3px;
    font-weight: 480;
    color: hsl(243, 100%, 62%);

}

.tots{
    color: rgb(162, 162, 162);
    font-weight: lighter;
}

#summary_confirm{
    background-color: hsl(243, 100%, 62%);
}

#summary_confirm:hover{
    cursor: pointer;
    background-color: orange;
    color: black;
}

@media only screen and (max-width: 960px){
    .tots{
        position: absolute;
        left: -23.7rem;
        top: -1.8rem;
    }

    .total_amount{
        position: absolute;
        left: -9.8rem;
        top: -1.7rem;
    }
    #summary_header{
        position: absolute;
        left: -10px;
        top: -4rem;
        z-index: 2;
    }

    #summary_p{
        position: absolute;
        left: -7.7rem;
        top: 1.3rem;
    }

    #summary_back{
        position: absolute;
        left: -9px;  
    }

    #summary_confirm{
        border-radius: 5px;
        position: absolute;
        top: 32rem;
    }
}

.thank_you{
    display: none;
    justify-content: center;
    position: relative;
    top: 6rem;
    left: 8rem;
}
h6{
    font-size: 1.9rem;
    position: relative;
    top: 3rem;
    left: 8.4rem;
    color: rgb(25, 25, 79);
}

.thanks_p{
    text-align: center;
    font-size: .9rem;
    letter-spacing: .9px;
    color: rgb(178, 177, 177);
    font-weight: lighter;
}

.thanks_icon{
    position: relative;
    top: 5rem;
    left: 11rem;
}

#thank_yall{
    position: absolute;
    top: 28rem;
    left: 10rem;
    background-color: orange;
    
}

@media only screen and (max-width: 960px){
    .thank_you{
        width: 350px;
        height:420px;
        border-radius: 10px;
        background-color: white;
        position:absolute;
        left: 0rem;
        top: -5rem;
        z-index: 2;
    }

    .thanks_icon{
        position: relative;
        left: 8.5rem;
    }

    h6{
        position: relative;
        left: 6rem;
    }

    .thanks_p{
        text-align: center;
       padding-left: 15px;
       padding-right: 1rem;
    }

    #thank_yall{
        position: absolute;
        left: 7rem;
    }
}
